<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分享到朋友圈</title>
</head>
<body>
<h2>{$name}</h2>
<h2>{$time}</h2>
<h2>{$nonceStr}</h2>
<h2>{$signature}</h2>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: 'wx94c43716d8a91f3f', // 必填，公众号的唯一标识
        timestamp:'{$time}' , // 必填，生成签名的时间戳
        nonceStr: '{$nonceStr}', // 必填，生成签名的随机串
        signature: '{$signature}',// 必填，签名，见附录1
        jsApiList: [
            "onMenuShareTimeline",
            "onMenuShareAppMessage"
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function(){

        wx.onMenuShareTimeline({
            title: '测试分享到朋友圈', // 分享标题
            link: 'http://wanwecaht.amai8.com/wechat/Index/share/', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'https://www.baidu.com/img/baidu_logo.gif', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                alert("分享成功");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert("取消分享");
            }
        });

        wx.onMenuShareAppMessage({
            title: '分享给朋友', // 分享标题
            desc: '分享标题', // 分享描述
            link: 'http://wanwecaht.amai8.com/wechat/Index/share', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'https://www.baidu.com/img/baidu_logo.gif', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                alert("分享成功");
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                alert("取消分享");
                // 用户取消分享后执行的回调函数
            }
        });
    });

    wx.error(function(res){

    });
</script>
</body>
</html>