<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> Username </div>

                <div class="profile-info-value">
                    <span class="editable" id="username">{$Think.session.admin.username}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 国家、地区 </div>

                <div class="profile-info-value">
                    <i class="icon-map-marker light-orange bigger-110"></i>
                    <span class="editable" id="country">Netherlands</span>
                    <span class="editable" id="city">Amsterdam</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 年龄 </div>

                <div class="profile-info-value">
                    <span class="editable" id="age">38</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 加入时间 </div>

                <div class="profile-info-value">
                    <span class="editable" id="signup">20/06/2010</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 最近登录时间 </div>

                <div class="profile-info-value">
                    <span class="editable" id="login">3 小时之前</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 所属用户组 </div>

                <div class="profile-info-value">
                    <span class="editable" id="about">超级管理员</span>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="copy-link" data-fulllink="要被复制的内容在这里～">复制链接</button>

<!-- 空白节点，缓存数据，尽量使用下面的样式将该节点隐藏起来 -->
<div class="copy-area"></div>

<style>
    .copy-area {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }
</style>

<script type="application/javascript">
    function copyLink(event){
        let target = event.target;
        let fullLink = target.getAttribute('data-fulllink');

        // 在页面上建一个空白节点，用来缓存要被复制的数据
        let copyNode = document.querySelector('.copy-area');
        let range = document.createRange();
        let selection = window.getSelection();

        copyNode.innerHTML = fullLink;
        range.selectNode(copyNode);

        // 去除默认的选区对象
        if (selection.rangeCount > 0) {
            selection.removeAllRanges();
        }

        selection.addRange(range);
        document.execCommand('copy');

        target.innerHTML = '复制成功';
    }

    document.querySelector('.copy-link').onclick = copyLink;

</script>