<div class="row">
    <div class="col-xs-12">
    <form action="" method="post"  class="form-horizontal" id="createfrom">
        <div class="widget-content nopadding">
            <form action="#" method="get" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">旧密码:</label>
                    <div class="controls">
                        <input type="password"  class="span2" placeholder="请输入旧密码" name="password"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">新密码:</label>
                    <div class="controls">
                        <input type="password"  class="span2" placeholder="请输入新密码" name="new_password"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">确认密码</label>
                    <div class="controls">
                        <input type="password"  class="span2" placeholder="请输入确认密码" name="repassword"  />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">确认</button>
                </div>
            </form>
        </div>
    </form>
    </div>
</div>
