<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{$Think.config.app_title}</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="__CSS__/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="__CSS__/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <link rel="stylesheet" href="__CSS__/ace-fonts.css" />

    <!-- ace styles -->

    <link rel="stylesheet" href="__CSS__/ace.min.css" />
    <link rel="stylesheet" href="__CSS__/ace-rtl.min.css" />
    <link rel="stylesheet" href="__CSS__/ace-skins.min.css" />

    <!--[if lte IE 8]>
    <!--<link rel="stylesheet" href="__CSS__/ace-ie.min.css" />-->
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="__JS__/ace-extra.min.js"></script>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='__JS__/jquery-2.0.3.min.js'>"+"<"+"/script>");
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
</head>
<body>