*{
    padding: 0;
    margin: 0;
}

html,body,.wrapper,.container{
    height: 100%;
}
.container{
    position: relative;
}

/*================ nav ==============*/
.nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    width: 300px;
    padding-bottom: 50px;
}
.nav .index{
    height:40px;
    line-height:40px;
    color:#2c374a;
    font-size: 18px;
    font-family:"microsoft yahei", "微软雅黑";
    text-align: center;
}
.levelone{
    padding-left: 15px;
}
.levelone>.leveltwo{
    /*display: none;*/
}

/*================ main ==============*/
.main{
    position: absolute;
    right: 0;
    top: 0;
    left: 300px;
    height: 100%;
		overflow: auto;
    padding-top: 40px;
    box-sizing: border-box;
    background:#fff;
}
button,input[type="submit"]{
    height: 30px;
    padding: 5px;
}
input[type="text"]{
    height: 26px;
}

.volume{
    margin: 15px 0;
}
.volume button{
    margin-right: 10px;
}
.volume-bar{
    padding-top: 15px;
}
.volume-bar button{
    margin-right: 10px;
}

form{
    padding: 15px 0;
}
form div{
    margin: 15px 0;
}

form .video-desc{
    width: 420px;
    display: inline-block;
    text-align: left;
    margin: 0;
}

form .submit{
    text-align: center;
}