<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Index Demo.html </h1>
<h1>username = {$username}</h1>
<h1>age = {$age}</h1>
<h2>{$keys}</h2>
<h2>{$version}</h2>
<h2>viewName={$viewName}</h2>
<h2>STATIC</h2>
<hr>
<h1>__AGE__</h1>
<h2>__AUTHOR__</h2>
<h2>__STATIC__</h2>输出：/backend
<h2>__JS__</h2>输出：/thinkphp5-study-line/public/static/js
<h2>__CSS__</h2>输出：/thinkphp5-study-line/public/static/css
<hr>
<h3>__URL__</h3>
<img src="__IMAGES__/test.png" alt="">
</body>
</html>